.logo img {
  width: 165px;
  cursor: pointer;

}

nav {
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 5rem;

}

.right ul {
  display: flex;
  gap: 35px;


}

.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right ul li span {
  padding: 0 4px;

}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 50px;
  font-family: sans-serif;
}

.first span {
  font-size: 40px;
}

section span img {
  width: 82px;
  margin: 0 23px;
}

.first p {
  width: 46vw;
  text-align: center;
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  background-color: #13bbd9;
  color: white;
  border: none;
  padding: 14px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  border: none;
  margin: 12px 0;
}

.green {
  background-color: #5cb85c;
}

.btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.flex {
  display: flex;
}

.small {
  font-size: 12px;
}

.second {
  max-width: 54vw;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.download :nth-child(2) {
  
  font-size: 22px;
  
}

.download img {
  width: 60px;
  padding: 0 8px; 
}


.download {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 35px;
}

.item {
  padding: 23px;
  background-color: rgb(241, 239, 239);
  border-radius: 10px;
  font-size: 21px;
  text-align: center;
}

.itemlang {
  font-weight: 700;
  text-align: center;
  padding-bottom: 35px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}


@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  
}


@media screen and (max-width : 720px ) {
  .grid {
    grid-template-columns: 1fr;
  }
}